@*@model 
<form asp-action="createformagegroup" asp-controller="home">
    <div class="form-group">
        <label asp-for="AgeGroupCount">Введите количество возрастных групп:</label>
        <input type="text" asp-for="AgeGroupCount" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" />
    </div>
</form>*@
