@{
    ViewData["Title"] = "Начальная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Это веб-приложение облегчит Вам проведение массовых соревнований 
    циклических видов спорта (Кросс нации, Лыжня России и т.д.) в Вашем Мухосранске.
    Его целью является автоматизация процессов формирования стартовых и финишных протоколов.</p>
</div>
