@model SportWebApplication.Models.Competention
<div class="form-group">
    <a asp-action="SportsmanList">Список участников</a>
</div>
<div class="form-group">
    <a asp-action="AgeGroupList">Список возрастных групп</a>
</div>
<form asp-action="AddNumbers" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="fileExcel" /><br>
    <input type="submit" value="Загрузить" />
</form>
<form asp-action="formcompetetion" asp-controller="home">
    <div class="form-group">
        <label>Название соревнований</label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Интервал старта</label>
        <input asp-for="Interval" type="time" step="1" class="form-control" />
    </div>

    <div class="form-group">
        @if (Model.Start)
        {
            <input type="submit" value="Сбросить" />
            <label>Соревнование сформировано</label>
        }
        else
        {
            <input type="submit" value="Сформировать" />
            <a asp-action="DeleteAgeGroup">Удалить возрастные группы</a>
            <a asp-action="DeleteSportsmans">Удалить всех спортсменов</a>
        }
    </div>
</form>
