@model SportWebApplication.Models.Competention
<div class="form-group">
    <a asp-action="SportsmanList">Список участников</a>
</div>
<div class="form-group">
    <a asp-action="AgeGroupList">Список возрастных групп</a>
</div>
<form asp-action="formcompetetion" asp-controller="home">
    <div class="form-group">
        <label>Название соревнований</label>
        <input asp-for="Name" id="LastName" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Интервал старта</label>
        <input asp-for="Interval" type="number" class="form-control" />
    </div>

    <div class="form-group">

        @if (Model.Start)
        {
            <input type="submit" value="Сбросить" />
        }
        else
        {
            <input type="submit" value="Сформировать" />
        }

    </div>
    @if (Model.Start)
    {
        <label>Соревнование сформировано</label>
    }
</form>