@model SportWebApplication.Models.Competention

<form class="form-group custom-file" asp-action="AddNumbers" asp-controller="Home" method="post" enctype="multipart/form-data" style="height: 80px;">
    <input type="file" id="fileForm" accept=".txt" name="file" /><br>
    <label class="custom-file-label" for="fileForm">Загрузка стека номеров</label>
    <input class="btn btn-primary" type="submit" value="Загрузить" />
</form>

    <div class="form-group">
        <a class="btn btn-primary" asp-action="SportsmanList">Список участников</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="AgeGroupList">Список возрастных групп</a>
    </div>
    <form asp-action="formcompetetion" asp-controller="home">
        <div class="form-group">
            <label>Название соревнований</label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Интервал старта</label>
            <input asp-for="Interval" type="time" step="1" class="form-control" />
        </div>
        <div>
            @if (Model.Start)
            {
                <input class="btn btn-primary" type="submit" value="Сбросить" />
                <label>Соревнование сформировано</label>
            }
            else
            {
                <input class="btn btn-primary" type="submit" value="Сформировать" />
                <a class="btn btn-primary" asp-action="DeleteAgeGroup">Удалить возрастные группы</a>
                <a class="btn btn-primary" asp-action="DeleteSportsmans">Удалить всех спортсменов</a>
            }
        </div>
    </form>
