@model SportWebApplication.Models.FormCreateUser
<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="fileExcel" /><br>
    <input type="submit" value="Загрузить" />
</form>
<form asp-action="createsportsman" asp-controller="home">
    <div class="form-group">
        <table>
            <tr>
                <td>
                    Имя
                </td>
                <td>
                    Год рождения
                </td>
                <td>
                    Пол
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" asp-for="sportsman.Name" class="form-control" />
                </td>
                <td>
                    <input type="number" asp-for="sportsman.Age" class="form-control" />
                </td>
                <td>
                    <input asp-for="sportsman.Sex" type="radio" checked value="0" /><label for="0">Ж</label>
                    <input asp-for="sportsman.Sex" type="radio" value="1" /><label for="1">М</label>
                </td>
            </tr>
        </table>
        <input type="submit" value="Отправить" />
    </div>
</form>
<table class="table">
    <tr><td>Имя</td><td>Возраст</td><td>Пол</td></tr>
    @foreach (var item in Model.userList)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
            @if (item.Sex == 0)
            {
                <td>Ж</td>
            }
            else
            {
                <td>М</td>
            }
            <td>
                <a href="~/Home/DeleteSportsman?id=@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
