@model ProtokolForm
<h1>Первенство водокачки</h1>
@foreach (var item in Model.ageGroups)
{
    var i = 0;
    <h3>Возрастная группа @item.Yahr1 - @item.Yahr2</h3>
    <table class="table table-hover table-inverse">
        <tr>
            <th>
                Номер
            </th>
            <th>
                Имя
            </th>
            <th>
                Время
            </th>
        </tr>
        @foreach (var us in Model.users.Where(t => (t.Age >= item.Yahr1 && t.Age <= item.Yahr2)).OrderBy(t => t.StartTime))
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @us.Name
                </td>
                <td>
                    @us.StartTime
                </td>
            </tr>
            i++;
        }
    </table>
}

