@page
@model PrivacyModel
@{
    ViewData["Title"] = "Автор";
}
<h1>@ViewData["Title"]</h1>
<div class="flex-container">
    <img class="photo-autor margin" src="https://sun9-87.userapi.com/impg/G5RAsVhHWSbpc2cUvizVwieCX9sRozWc9Cq4gA/b0mdQbsa_UM.jpg?size=608x1080&quality=96&sign=135bb705b3372a12af35a95aa769e36b&type=album" />
    <h2 class="margin display-4">  —  Александр Друганов</h2>
</div>
<p>Знакомьтесь, самый классный парниша.</p>
<p><a href="https://www.instagram.com/_druganov/">Instagram</a><br />
    <a href="https://vk.com/dryganow">ВК</a><br /><a href="https://vm.tiktok.com/ZSeyKLDhu/">TikTok</a></p>
